[Unit]
Description=Get Geohome Data

[Service]
ExecStart=/home/ec2-user/mmwebsite/geohome/getdata.sh

[Install]
WantedBy=multi-user.target

# copy this file to /lib/systemd/system/ then run
# sudo systemctl daemon-reload && sudo systemctl enable geohome && sudo systemctl start geohome
