[Unit]
Description=Get Geohome Data
After=network.target

[Service]
User=ec2-user
ExecStart=/home/ec2-user/src/geohome/getdata.sh
ExecStop=/usr/bin/touch /home/ec2-user/src/geohome/.stopgh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

# copy this file to /lib/systemd/system/ then run
# sudo systemctl daemon-reload && sudo systemctl enable geohome && sudo systemctl start geohome
